.btn-bold {
    font-weight: bold;
}

.downloading {
    background-color: blue;
    color: blue;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

.downloaded {
    background-color: green;
    color: green;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

.download {
    background-color: gray;

    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid grey;
}